<div class="flex flex-col justify-center items-center  md:min-w-[600px] group">
  <!-- Contenedor con imagen de fondo -->
  <div class="imagen aspect-video h-full w-full bg-cover bg-center rounded-lg transition-all duration-30 grayscale group-hover:grayscale-0 ">
    <!-- Gradiente de fondo y contenido -->
    <div class="h-full hover:bg-gradient-to-b hover:from-transparent hover:to-black flex flex-col justify-end items-center p-4 text-center transition-all duration-300 ease-in-out">
      <p class="text-white">Donenme para comprarlo pipipi</p>
      <p class="font-bold text-green-600 text-2xl">$69.99</p>
      <a class="aspect-square bg-[#003087] text-white p-4 rounded flex justify-center items-center h-10 hover:bg-[#003a87] mt-4"
        href="https://www.paypal.me/bryan25saavedra" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-paypal text-2xl"></i>
      </a>
    </div>
  </div>
</div>


