<section class="container gap-10 md:grid md:grid-cols-[auto_1fr]">
  <div class="flex flex-col col-span-5 gap-3 p-6 bg-gray-200 rounded-lg shadow-md dark:shadow-black dark:bg-zinc-900">
    <h2 class="py-2 text-3xl font-bold uppercase">Sobre mi</h2>
    <p>
      Soy estudiante de Ingeniería de Software y actualmente estoy en búsqueda
      de una empresa donde pueda realizar mis prácticas profesionales. Cuento
      con casi 3 años de experiencia en programación, durante los cuales he
      trabajado en proyectos propios y adquirido sólidos conocimientos en
      desarrollo web fullstack, aplicaciones de escritorio y gestión de bases de
      datos. Estoy entusiasmado por aplicar mis habilidades y aprender aún más
      en un entorno profesional.
    </p>
  </div>
  <aside>
    <h2 class="w-full py-2 text-3xl font-bold uppercase">Donaciones</h2>
    <ul class="flex flex-col items-center col-span-2 col-start-6 gap-3 p-6 bg-gray-200 rounded-lg shadow-md dark:shadow-black dark:bg-zinc-900">
      <li>
        <donaciones imageUrl="assets/DBZ4.webp" >
          <p class="font-bold">Epa, ¡El Sparking Zero!</p>
          <form
            action="https://www.paypal.com/donate"
            method="post"
            target="_top"
          >
            <input type="hidden" name="campaign_id" value="YG5B7PKR68GHW" />
            <input
              type="image"
              src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
              name="submit"
              title="PayPal - The safer, easier way to pay online!"
              alt="Donate with PayPal button"
            />
            <img
              alt=""
              src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
              width="1"
              height="1"
            />
          </form>
        </donaciones>
      </li>
      <li>
        <donaciones imageUrl="assets/pcgamer.webp">
          <p class="font-bold">
            Pc gamer pa programar
          </p>
          <form
            action="https://www.paypal.com/donate"
            method="post"
            target="_top"
          >
            <input type="hidden" name="campaign_id" value="YG5B7PKR68GHW" />
            <input
              type="image"
              src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
              border="0"
              name="submit"
              title="PayPal - The safer, easier way to pay online!"
              alt="Donate with PayPal button"
            />
            <img
              alt=""
              border="0"
              src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif"
              width="1"
              height="1"
            />
          </form>
        </donaciones>
      </li>
      <li>
        <div id="paypal-button-container"></div>
      </li>
    </ul>
  </aside>
</section>
