<seccion-max
  id="inicio"
  fondo="https://external-preview.redd.it/4VQTEHMfuk_IIn-xMPKlUTyONDGMWJRc3pbI4TIvCuw.jpg?format=pjpg&auto=webp&s=e1a56fd7dfc19b5458fd9eb843a38956d9f5a42b"
>
  <div
    class="flex flex-col md:flex-row justify-around items-center md:w-[90vw] w-full md:h-[80vh] p-4 h-4/5 overflow-hidden rounded-lg bg-opacity-50 backdrop-blur-[8px] bg-gray-700 text-white"
  >
    <div>
      <img
        class="h-52  md:h-72  rounded-md object-cover"
        src="https://rare-gallery.com/livewalls/imgpreview/142263-naruto-lofi-live-wallpaper.jpg"
        alt="perfil"
      />
      <div class="text-left py-2">
        <p>ByterDev</p>
        <p>Desarrollador de Software</p>
        <p>Desarrollador de Web</p>
        <p>Administrador de Base de Datos</p>
      </div>
    </div>
    <div>
      <p>Redes Sociales</p>
      <div class="flex gap-2 md:gap-5 flex-wrap">
        <border-icon
          link="https://www.facebook.com/Byter25"
          color="#3b5998"
          nombre="facebook"
        >
          <i class="fab fa-facebook-f "></i>
        </border-icon>
        <border-icon
          link="https://twitter.com/bryan25craft"
          color="#55acee"
          nombre="twitter"
        >
          <i class="fab fa-twitter"></i>
        </border-icon>
        <border-icon
          link="https://discord.gg/bqpf664AfF"
          color="#0082ca"
          nombre="discord"
        >
          <i class="fab fa-discord"></i>
        </border-icon>
        <border-icon
          link="https://www.linkedin.com/in/bryan-alexander-chacaliaza-saavedra-217810256"
          color="#0082ca"
          nombre="linkedin"
        >
          <i class="fab fa-linkedin-in"></i>
        </border-icon>
        <border-icon
          link="https://youtube.com/@byter25xd?si=IKCfsTR__SH6eAic"
          color="#ed302f"
          nombre="youtube"
        >
          <i class="fab fa-youtube " ></i>
        </border-icon>
      </div>
    </div>
  </div>
</seccion-max>

<!-- <div class="Fondo">
    <video autoplay loop [volume]="0">
      <source src="../../assets/Minecraft.webm" type="video/webm">
    </video>
  </div>   -->
