.app-cal{
  width: 100%;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: solid white 3px;
}
.contend-cal{
  position: relative;
  background-color: black;
  border: 3px solid #444;
  box-shadow: 10px 10px 15px black;
  border-radius: 20px;
  max-width: 50%;
  max-height: 80%;
  min-width: 300px;
  min-height: 400px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.visor{
  margin: 10px 0;
  position: relative;
  width: 270px;
  height: 80px;
  background-color: rgb(0, 0, 0);
  border: 3px solid #444;
  border-radius: 10px;
  transition: 0.2s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.visor p{
  position: relative;
  text-align: end;
  padding: 2px 10px;

}
p, button{
  font-weight: bold;
  text-shadow: 2px 1px 5px white;
}
.control{
  display: flex;
  border-radius: 10px;
  background: black;
  width: 270px;
  height: 280px;
}
.control button{
  appearance: none;
  width: 45px;
  height: 45px;
  background-color: black;
  color: white;
  border: 2px solid #444;
  border-radius: 10px;
  margin: 2px;
  transition: 0.1s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
.control button:hover{
  background-color: rgba(70, 70, 70, 0.5);
  border-color: rgb(105, 105, 105);
}
.control button:active{
  background-color: rgba(255, 0, 0, 0.5);
  border-color: red;
}
.num{
  top: 10px;
  position: relative;
  width: 80%;
  display: flexbox;
}
.num button{
  width: 53px;
  height: 53px;
}
.operacion{
  display: flex;
  flex-direction: column;
}