/*CONTENIDO HEADER */
.contendH img{
  height: 200px;
  border-radius: 50%;
  border: red solid 5px;
  margin: 25px 0px ;
}

.contendH h2{
  margin: auto;
  max-width: 90%;
  text-transform: uppercase;
}
.contendH p{
  text-transform: capitalize;
}

/*PIE DE PAGINA*/
.contendP{
  padding: 5% 0;
  display: flex;
  justify-content: center;
}
.contendP i{
  color: white;
  font-size: 30px;
  margin: 10px;
  padding: 5px;
  border: solid white 3px;
  border-radius: 10px;
  transition: 0.5s;
}
.contendP i:hover{
  color: var(--color);
  box-shadow: 0px 0px 10px 3px var(--color);
  border-color: var(--color);
}