<section
  class="base scroll-c"
  id="inicio"
  style="
    --fondo: url(https://i.pinimg.com/originals/bc/23/b9/bc23b955d467d91ccbcb21ba44dabf17.gif);
  "
>
  <div class="contend-min">
    <img class="foto_perfil" src="../../assets/foto-perfil.png" />
    <div>
      <p class="titleContend">bryan chacaliaza</p>
      <br />
      <p class="subtitleContend">
        desarrollador de software <br />
        practicante
      </p>
    </div>

    <!-- redes sociales -->
    <div class="redes">
      <a href="https://www.facebook.com/Byter25" target="_blank">
        <i class="fa-brands fa-facebook" style="--color: rgb(88, 101, 242)"></i>
      </a>
      <a href="https://twitter.com/bryan25craft" target="_blank">
        <i class="fa-brands fa-twitter" style="--color: rgb(29, 155, 240)"></i>
      </a>
      <a href="https://discord.gg/bqpf664AfF">
        <i class="fa-brands fa-discord" style="--color: #7289da"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/bryan-alexander-chacaliaza-saavedra-217810256" target="_blank"
      >
        <i class="fa-brands fa-linkedin-in" style="--color: #3b5998"></i>
      </a>
      <a href="https://youtube.com/@byter25xd?si=IKCfsTR__SH6eAic" target="_blank">
        <i class="fa-brands fa-youtube" style="--color: red"></i>
      </a>
    </div>
  </div>
</section>

<!-- <div class="Fondo">
    <video autoplay loop [volume]="0">
      <source src="../../assets/Minecraft.webm" type="video/webm">
    </video>
  </div>   -->
