<section class="base scroll-c" id="inicio" style="--fondo: url(https://i.pinimg.com/originals/bc/23/b9/bc23b955d467d91ccbcb21ba44dabf17.gif)">
  <div class="contend-min">
    <header class="contendH">
        <img src="../../assets/foto-perfil.png">
        <h2>bryan chacaliaza</h2>
        <p>practicante - desarrollador de software</p>
    </header>
    
    <footer class="contendP">
        <a href="">
          <i class="fa-brands fa-facebook" style="--color: rgb(88, 101, 242);"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-twitter" style="--color: rgb(29, 155, 240);"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-discord" style="--color: #3b5998;"></i>
        </a>
        <a href="https://www.linkedin.com/in/bryan-alexander-chacaliaza-saavedra-217810256" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-linkedin-in" style="--color: rgb(202, 204, 206);"></i>
        </a>
        <a href="">
          <i class="fa-brands fa-youtube" style="--color: red;"></i>
        </a>
    </footer>
  </div>
</section>
  
  <!-- <div class="Fondo">
    <video autoplay loop [volume]="0">
      <source src="../../assets/Minecraft.webm" type="video/webm">
    </video>  
  </div>   -->
  

