<section class="base" id="inicio">
  <div class="contend-min">
    <header class="contendH">
      <img src="../../assets/logo.png">
      <h2>bryan chacaliaza</h2>
      <p>practicante - desarrollador de software</p>
    </header>
  
    <footer class="contendP">
      <a href="">
        <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
      </a>
      <a href="">
        <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
      </a>
      <a href="">
        <i class="fa-brands fa-discord" style="color: #ffffff;"></i>
      </a>
      <a href="">
        <i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i>
      </a>
      <a href="">
        <i class="fa-brands fa-youtube" style="color: #ffffff;"></i>
      </a>
    </footer>
  </div>
  
  <div class="videoF">
    <video autoplay loop [volume]="0">
      <source src="../../assets/Minecraft.webm" type="video/webm">
    </video>  
  </div>  
  
</section>
