<div class="w-full flex flex-col md:flex-row gap-5">
  <div class="">
    <h2 class="font-bold">SOBRE MI</h2>
    <p>
      Me gusta programar, <br>
      Me enfoco en el desarrollo <b class="text-red-600">Full-Stack</b>, <br>
      Me gusta estar actualizado en cuanto a las herramientas tecnologicas que utilizo
    </p>
  </div>
  <div>
    <h3 class="uppercase font-bold">datos personales</h3>
    <table>
      <tr>
        <td>Nombre:</td>
        <td>ByterDev</td>
      </tr>
      <tr>
        <td>Nacimiento:</td>
        <td>11-09-2003</td>
      </tr>
      <tr>
        <td>email</td>
        <td>bryan25contacto&#64;gmail.com</td>
      </tr>
      <tr>
        <td>dirección</td>
        <td>Peru - Ica</td>
      </tr>
    </table>
  </div>
</div>
