<section class="base" id="skills">
  <div class="contend-max" >
    <h2 class="title-s">skills</h2>
    
    <div class="card-contend-flex" id="activa">
      <!-- HABILIDADES TECNICAS -->
      <div class="box tecnicas">
        <h3>technicals skills</h3>
        <div class="skill" *ngFor="let sec of tecnicas ; let i = index">
          <span>{{sec.skill}}</span>
          <div class="barra">
            <div class="progreso" style="--progreso: {{sec.progreso}}">
              <span>{{sec.progreso}}</span>
            </div>
          </div> 
        </div>
      </div> 
      <!-- HABILIDADES PROFESIONALES -->
      <div class="box profesionals">
        <h3>profesional skills</h3>
        <div class="skill" *ngFor="let sec of profesional ; let i = index">
          <span>{{sec.skill}}</span>
          <div class="barra">
            <div class="progreso" style="--progreso: {{sec.progreso}}">
              <span>{{sec.progreso}}</span>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>  
  
  <div class="videoF">
    <video autoplay loop [volume]="0">
      <source src="../../assets/Minecraft.webm" type="video/webm">
    </video>  
  </div> 
</section>