<section class="base" id="skills">
  <table class="skills">
    <tr>
      <th>technical skills</th>
      <th>profesional skills</th>
    </tr>
    <tr>
      <td>
        <span>javascript</span>
        <div class="barra">
          <div class="progress animacion">
            <span>60%</span>
          </div>
        </div>
      </td>
      <td>
        <span>trabajo en equipo</span>
        <div class="barra">
          <div class="progress">
            <span>75%</span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span>javascript</span>
        <div class="barra">
          <div class="progress">
            <span>60%</span>
          </div>
        </div>
      </td>
      <td>
        <span>trabajo en equipo</span>
        <div class="barra">
          <div class="progress">
            <span>75%</span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span>javascript</span>
        <div class="barra">
          <div class="progress">
            <span>60%</span>
          </div>
        </div>
      </td>
      <td>
        <span>trabajo en equipo</span>
        <div class="barra">
          <div class="progress">
            <span>75%</span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <span>javascript</span>
        <div class="barra">
          <div class="progress">
            <span>60%</span>
          </div>
        </div>
      </td>
      <td>
        <span>trabajo en equipo</span>
        <div class="barra">
          <div class="progress animacion">
            <span>75%</span>
          </div>
        </div>
      </td>
    </tr>
  </table>
</section>

