<section class="relative flex flex-col  md:grid md:grid-cols-2 lg:auto-cols-auto gap-3 gap-y-4">
  <card-profile />
  <float class="col-start-1">
    <a class="rounded-md bg-red-700 flex py-2 px-4  justify-center items-center gap-3  uppercase shadow-md shadow-black "
      download="cv-Bryan-Chacaliaza-Saavedra" href="../../assets/CV-Bryan-Chacaliaza.pdf">
      Descargar CV <i class="fa-sharp fa-solid fa-download"></i>
    </a>
    <!-- <a class="rounded-md bg-red-700 flex py-2 px-4  justify-center items-center gap-3  uppercase shadow-md shadow-black"
      download="cv-Bryan-Chacaliaza-Saavedra" href="../../assets/CV-Bryan-Chacaliaza.pdf">
      Descargar CV <i class="fa-sharp fa-solid fa-download"></i>
    </a> -->
  </float>
  <process-bar class="row-start-1 col-start-2" nombre="tecnicas" [progresos]="tecnicas" />
  <process-bar class="row-start-1 col-start-3" nombre="profecional" [progresos]="profesional" />
  <icon-card class="col-start-2 " nombre="tecnologias" [iconCard]="tecnologias" />
  <icon-card class="col-start-3" nombre="intereses" [iconCard]="intereses" />
</section>
