<section class="base scroll-c" id="contacto" style="--fondo: url(https://i.pinimg.com/originals/cb/9a/b4/cb9ab416861c56995b50405a8582f0dc.gif)">
  <div class="contend-max">
    <h2>contacto</h2>
    <form action="Post" class="contacto" id="contacto">
      <div class="card-contend-flex">
        <div class="datos">
          <span>NOMBRES</span>
          <input type="text" placeholder="Bryan Alexander" id="nom">
          <span>APELLIDOS</span>
          <input type="text" placeholder="Chacaliaza Saavedra" id="ape">
          <span>E-MAIL</span>
          <input type="email" placeholder="ejemplo@gmail.com" name="correo" id="correo">
          <span>ASUNTO</span>
          <textarea id="asunto"></textarea>
        </div>
        <div class="ubi">
          <div class="mapa"></div>
        </div>
      </div>
      <input type="submit" value="ENVIAR">
    </form>
  </div>
</section>