.contacto{
  width: inherit;
}

/* FORMULARIO */
.contacto .datos{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  font-size: 15px;
  margin: 0 50px;
}
.contacto input, .contacto textarea{
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}
.contacto textarea{
  resize: horizontal;
  min-height: 100px;
  margin-bottom: 0;
}
.contacto button[type="submit"]{
  width: 10rem;
}
/* UBIACION */
.contacto .ubi{
  margin: 0 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto .ubi span{
  margin-bottom: 20px;
}
.contacto .ubi iframe{
  width: 100%;
  min-height: 90%;
  background-color: rgb(46, 46, 46);
  border: 2px solid white;
  border-radius: 20px;
}
@media(max-width:600px){
  .contacto .datos{
    width: 90%;
    margin: auto;
  }
  .contacto .ubi{
    display: none;
  }
}