<section class="base scroll-c" id="contacto" style="--fondo: url(https://i.pinimg.com/originals/cb/9a/b4/cb9ab416861c56995b50405a8582f0dc.gif)">
  <div class="contend-max">
    <h2 class="titleSection">contacto</h2>

    <form name="contacto" class="contacto" method="post" action="https://formspree.io/f/mrgwprdj">
      <div class="card-contend-flex">
        <div class="datos">
          <span>NOMBRES</span>
          <input type="text" id="nom" name="NOMBRE" placeholder="Nombre completo">

          <span>APELLIDOS</span>
          <input type="text" name="APELLIDO" placeholder="Apellido completo" id="ape">

          <span>E-MAIL</span>
          <input type="email" name="CORREO" placeholder="ejemplo@gmail.com" name="correo" id="correo">

          <span>ASUNTO</span>
          <textarea name="ASUNTO" id="asunto"></textarea>
        </div>

        <div class="ubi">
          <span>Ubicaccion</span>
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1938.0709648406548!2d-76.15102116949346!3d-13.709852521861494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2spe!4v1690862692256!5m2!1ses!2spe" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <br>
      <button type="submit">Enviar</button>
    </form>
  </div>
</section>
