header{
    padding: 5px 6px;
    top: 0;
    z-index: 50;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.centrar{
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}
nav{
    justify-content: end;
}
ul{
    list-style: none;
    display: flex;
}
ul li a{
    color: white;
    font-size: 14px ;
    display: inline-block;
    padding-right: 30px;
}
img{
    margin-left: 30px;
    height: 40px;
}