<header class="menu" id="menu">
    <div class="menu-lado">
        <img src="../../assets/logo.png">
        <h1>byter</h1>
    </div>

    <nav class="menu-centro">
        <ul>
            <li (mouseenter)="backdrop()"><a href="#inicio">Inicio</a></li>
            <li (mouseenter)="backdrop()"><a href="#sobre-mi">sobre mi</a></li>
            <li (mouseenter)="backdrop()"><a href="#skills">skills</a></li>
            <li (mouseenter)="backdrop()"><a href="#curriculum">curriculum</a></li>
            <li (mouseenter)="backdrop()"><a href="#portfolio">portfolio</a></li>
            <li (mouseenter)="backdrop()"><a href="#contacto">contacto</a></li>
        </ul>
    </nav>
    <div class="menu-lado right">
        <ul>
            <li>configuracion</li>
        </ul>
    </div>
    <div class="backdrop" id="backdrop"></div>
</header>