<seccion-max
  class="base scroll-c"
  id="habilidades"
  fondo="https://i.pinimg.com/originals/ed/a5/73/eda5739966cb33768d8ad0d77d7307ce.gif"
>
  <div class="contend-max p-2" #vista>
    <h2 class="text-2xl uppercase">skills</h2>
    <!-- HABILIDADES TECNICAS -->
    <div class="flex w-full justify-around items-center">
      <div class="min-w-[300px]">
        <h3>technicals</h3>
        @for(sec of tecnicas;track sec){
          <process-bar [max]="100" [value]="sec.progreso" [nombre]="sec.skill"/>
        }
      </div>
      <!-- HABILIDADES PROFESIONALES -->
      <div class="p-2 flex flex-col min-w-[300px]">
        <h3 class="">profesional skills</h3>
        @for(sec of profesional;track sec){
          <process-bar [max]="100" [value]="sec.progreso" [nombre]="sec.skill"/>
        }
      </div>
    </div>
  </div>
</seccion-max>
