<section class="container relative flex h-full mx-auto">
  <div
    class="grid grid-cols-1 gap-5 py-3 m-auto bg-transparent full md:grid-cols-2 lg:grid-rows-4 lg:grid-cols-3 xl:grid-cols-4"
  >
    <meta-card imageUrl="metas-img/sparking.webp">
      <p class="font-bold">Epa, ¡El Sparking Zero!</p>
      <p class="font-bold text-green-400 text-ellipsis">COMPLETADO</p>
    </meta-card>
    <meta-card imageUrl="metas-img/pcgamer.webp">
      <p class="font-bold">Pc gamer pa programar</p>
      <p class="font-bold text-green-400 text-ellipsis">COMPLETADO</p>
    </meta-card>
    <meta-card imageUrl="metas-img/escritorio.webp">
      <p class="font-bold">ESCRITORIO L</p>
    </meta-card>
    <meta-card imageUrl="metas-img/monitor.webp">
      <p class="font-bold">MONITOR ADICIONAL</p>
    </meta-card>
    <meta-card imageUrl="metas-img/mousepad.webp">
      <p class="font-bold">MOUSEPAD</p>
    </meta-card>
    <meta-card imageUrl="metas-img/colgador.webp">
      <p class="font-bold">COLGADOR</p>
    </meta-card>
  </div>
  <div>
    <p>DONACIONES</p>
    <div id="paypal-button-container"></div>
  </div>
</section>
