<!--CONTENEDOR DEL MENU DE NAVEGACION-->
<header
  class="sticky top-0 flex items-center p-4 transition-all justify-evenly bg-neutral-50 dark:bg-neutral-900"
>
  <nav class="sm:order-2">
    @if (anchoPantalla > 768) {
    <menu-top [listaNav]="navList"></menu-top>
    } @else {
    <menu-right [listaNav]="navList">
      <social-icons
        [socialIcons]="faIcons"
        [showNombre]="false"
        class="p-2"
      ></social-icons>
    </menu-right>
    }
  </nav>
  <h1
    class="text-2xl font-semibold tracking-widest text-[var(--primary-color)] transition-all duration-700 ease-in-out bg-transparent sm:order-1 hover:scale-110 dark:text-white dark:hover:text-[var(--hover-color)] hover:lg:text-3xl"
  >
    BYTERDEV
  </h1>

  <div class="flex items-center justify-end order-3 gap-4 lg:order-3">
    <social-icons
      [socialIcons]="faIcons"
      [showNombre]="false"
      class="hidden lg:block"
    ></social-icons>
    <!-- Checkbox como trigger con peer -->
    <div>
      <input type="checkbox" class="hidden peer" id="config" />
      <!-- Botón de configuración -->
      <label
        for="config"
        class="relative flex items-center justify-center cursor-pointer"
      >
        <mat-icon
          class="text-[28px] hover:scale-150 transition-transform duration-300"
          style="width: 28px; height: 28px"
          >settings</mat-icon
        >
      </label>
      <!-- Menú desplegable con animación -->
      <div
        name="config"
        id="config"
        class="absolute right-0 z-50 w-44 mt-2 overflow-hidden font-semibold transition-all duration-300 ease-in-out origin-top transform translate-y-0 rounded-md shadow-md md:right-0 lg:right-auto bg-[var(--bg-color)] max-h-0 peer-checked:max-h-96 peer-checked:translate-y-2 peer-checked:p-2"
      >
        <p class="flex items-center h-8 font-bold">Lenguajes:</p>
        <select-lenguaje />
        <p class="flex items-center h-8 font-bold">Modo:</p>
        <mode-dark />
        <p class="flex items-center h-8 font-bold">Tema:</p>
        <select-theme />
      </div>
    </div>
  </div>
</header>
