<!--CONTENEDOR DEL MENU DE NAVEGACION-->
<header class="fixed flex justify-between items-center z-20 top-0 left-0 transition-all text-white w-full">
  @if (anchoPantalla > 1020) {
  <menu-top [listaNav]="navList" class=" font-bold"></menu-top>
  } @else {
  <menu-right [listaNav]="navList"></menu-right>
  }
  <h1 class="text-4xl font-bold tracking-wide">BYTERDEV</h1>
  <li class="flex w-1/3 gap-3 px-2 justify-end">
    <border-icon link="https://www.facebook.com/Byter25" color="#0165E1">
      <i class="fab fa-facebook-f"></i>
    </border-icon>
    <border-icon link="https://github.com/Byter25" color="#333" >
      <i class="fab fa-github"></i>
    </border-icon>
    <border-icon link="https://discord.gg/bqpf664AfF" color="#7289da">
      <i class="fab fa-discord"></i>
    </border-icon>
    <border-icon link="https://www.linkedin.com/in/bryan-alexander-chacaliaza-saavedra-217810256" color="#0073B1">
      <i class="fab fa-linkedin-in"></i>
    </border-icon>
    <border-icon link="https://youtube.com/@byter25xd?si=IKCfsTR__SH6eAic" color="#ff0000">
      <i class="fab fa-youtube"></i>
    </border-icon>
  </li>
  <!--DIVISION PARA EL LOGO-->

  <!-- <div class="flex">
        <escribir-maquina [textos]="textos" />
      </div> -->

</header>
