<!--CONTENEDOR DEL MENU DE NAVEGACION-->
<header class="sticky top-0 flex items-center justify-between px-2 py-1 transition-all bg-inherit">
  <nav class="2xl:w-1/3">
    @if (anchoPantalla > 768) {
    <menu-top [listaNav]="navList"></menu-top>
    } @else {
    <menu-right [listaNav]="navList" class="flex flex-wrap w-full">
      <social-icons [socialIcons]="faIcons" [showNombre]="false" class="p-2"></social-icons>
    </menu-right>
    }
  </nav>
  <h1 class="text-2xl font-bold tracking-wide text-red-600 dark:text-white md:text-4xl">
    BYTERDEV
  </h1>
  <div class="flex items-center justify-end gap-4 lg:w-1/3">
    <social-icons [socialIcons]="faIcons" [showNombre]="false" class="hidden lg:block"></social-icons>
    <mode-dark></mode-dark>
  </div>
</header>
