<app-navbar @fadeInOut class="z-50 sticky top-0 shadow-sm shadow-white bg-inherit dark:shadow-white"></app-navbar>

<main class=" relative flex flex-col  justify-center flex-1  overflow-hidden ">
  <div class="absolute bottom-0 left-0 size-96  bg-red-600 rounded-full opacity-10 blur-3xl"></div>
  <div class="absolute top-0 right-0 size-96  bg-red-600 rounded-full opacity-10 blur-3xl"></div>
  <router-outlet/>
</main>
<footer
  class="bg-transparent flex items-center justify-around p-4 shadow-md shadow-zinc-400  dark:shadow-zinc-800 max-h-10">
  <p>Hecho por {{ "@ByterDev" }}</p>
</footer>
