<app-menu></app-menu>
<main id="principal">
  <app-seccion-start></app-seccion-start>
  <app-seccion-me></app-seccion-me>
  <app-seccion-skills></app-seccion-skills>
  <app-seccion-certificados></app-seccion-certificados>
  <app-seccion-proyectos></app-seccion-proyectos>
  <app-seccion-contacto></app-seccion-contacto>
  <!--<div class="scroll-c" *ngFor="let sec of secciones ; let i = index">-->
  <div class="flecha-abajo">
    <button (mouseenter)="bajar()">
      <i class="fa-solid fa-angles-down fa-bounce"></i>
    </button>
  </div>
</main>
