.base{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  height: 100vh;
  max-width: 100vw;
}

main{
  position: relative;
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.scroll-c{
  scroll-snap-align: center;
}

.title-s{
  margin: 20px 0px 0px;
}
