<div
  class="flex flex-col lg:flex-row md:items-start md:justify-between w-full gap-10"
>
  <div class="flex flex-col justify-around">
    <img
      class="w-full md:h-52 md:w-52 rounded-md object-cover"
      src="https://rare-gallery.com/livewalls/imgpreview/142263-naruto-lofi-live-wallpaper.jpg"
      alt="perfil"
    />
    <div class="text-left py-4">
      <p>ByterDev</p>
      <p>Desarrollador de Software</p>
      <p>Desarrollador de Web</p>
      <p>Administrador de Base de Datos</p>
    </div>
  </div>
  <div class="flex flex-col lg:flex-row lg:flex-1 gap-10">
    <div class="flex flex-col flex-1 md:gap-3">
      <h3>Habilidades Tecnicas</h3>
      @for(sec of tecnicas;track sec){
      <process-bar [max]="100" [value]="sec.progreso" [nombre]="sec.skill" />
      }
    </div>
    <!-- HABILIDADES PROFESIONALES -->
    <div class="flex flex-col flex-1 md:gap-3">
      <h3 class="">Habilidades Profesionales</h3>
      @for(sec of profesional;track sec){
      <process-bar [max]="100" [value]="sec.progreso" [nombre]="sec.skill" />
      }
    </div>
  </div>
</div>
