.contend-max{
  z-index: 30;
  max-width: 80%;
  max-height: 80%;
}


.contendH2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.titulo-max{
  font-size: 42px;
  font-weight: bold;
  margin: 10px 0 20px;
}

/* TITULO Y DESCRIPCION */
.titulo-min{
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
}
.contendH2 p{
  text-align: left;
  max-width: 90%;
}
.card-contend-flex{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 30px;
}

/* CONTENEDOR DATOS PERSONALES */
.datos-personales{
  position: relative;
  text-align: left;
}
table td{
  font-weight: bold;
  padding: 10px 0px;
  padding-right: 20px;
}
table tbody tr :first-child{
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}

/* CONTENEDOR INTERESES */
.intereses{
  max-width: 50%;
  text-align: left;
}
.card-interes{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.interes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 100px;
  height: 100px;
  margin: 0px 20px 40px 0px;
  background-color: black;
  border-radius: 20px;
  border: solid white 3px;
}
.interes i{
  font-size: 40px;
  margin-bottom: 10px;
}

/* BOTON DESCARGAR */
.boton-descargar{
  font-size: 15px;
  color: white;
  margin: 20px;
  padding: 10px 20px;  
  background-color: black;
  border: solid white 3px;
  transition: 0.2s;
}
.boton-descargar:hover{
  border-color: red;
}
.boton-descargar:active{
  background-color: red;
  border-color: white;
}