<section class="base" id="sobre-mi">
  <div class="contend-max">
    <header class="contendH2">
      <h2 class="title-s">SOBRE MI</h2>
      <p>Mi enfoque se basa en la resolución de problemas, y mi capacidad para analizar los requisitos del proyecto y traducirlos en soluciones técnicas efectivas. Soy un apasionado por aprender nuevas tecnologías y mantenerme actualizado en las tendencias de desarrollo, lo que me permite adaptarme rápidamente a los desafíos y cambios en el entorno de desarrollo de software. Estoy preparado para afrontar desafíos complejos y entregar soluciones de software de alto rendimiento, combinando habilidades técnicas sólidas con una mentalidad de resolución de problemas y una actitud colaborativa.</p>
      <div class="card-contend-flex">
        <div class="datos-personales">
          <h3 class="titulo-min">datos personales</h3>
          <table>
            <tr>
              <td>nacimiento</td>
              <td>11-09-2003</td>
            </tr>
            <tr>
              <td>telefono</td>
              <td>994275735</td>
            </tr>
            <tr>
              <td>email</td>
              <td>bryan25contacto@gmail.com</td>
            </tr>
            <tr>
              <td>direccion</td>
              <td>Calle Yahuarwaca</td>
            </tr>
            <tr>
              <td>cargo</td>
              <td>caracter</td>
            </tr>
          </table>
        </div>

        <div class="intereses">
          <h3 class="titulo-min">intereses</h3>
          <ul class="card-interes" >
            <li class="interes" *ngFor="let sec of intereses ; let i = index">
              <i class="{{sec.icon}}"></i>
              <span>{{sec.interes}}</span>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <footer >
      <button class="boton-descargar">
        <span>Descargar CV </span>
        <i class="fa-sharp fa-solid fa-download"></i>
      </button>
    </footer>
  </div>

  <div class="videoF">
    <video autoplay loop [volume]=0 >
      <source src="../../assets/Minecraft.webm" type="video/webm">
    </video>
  </div>  
</section>
<!-- <section class="base" id="">
  <div class="superior contenido">
    <header>
      <h2>{{DatosEntrada.titulo}} || titulo</h2>
      <p>{{DatosEntrada.descripcion}} || descripcion</p>
    </header>
  
    <footer class="pie">
      <a href="">{{DatosEntrada.pie}}</a>
    </footer>
  </div>

  <div>
    <video autoplay loop [volume]=0 >
      <source src="../../assets/Minecraft.webm" type="video/webm">
    </video>
  </div>  
</section> -->
