
<section class="base">
  <div class="contend-max">
    <header class="contendH2">
      <h2 class="titulo-max">SOBRE MI</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum facilis, est ea repellat quo, cumque illum repudiandae labore optio molestiae quibusdam doloremque ut aliquid qui maxime eligendi ab autem aperiam.</p>
      <div class="card-contend-flex">
        <div class="datos-personales">
          <table>
            <thead>
              <tr>
                <th colspan="2" class="titulo-min">datos personales</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>nacimiento</td>
                <td>11-09-2003</td>
              </tr>
              <tr>
                <td>telefono</td>
                <td>994275735</td>
              </tr>
              <tr>
                <td>email</td>
                <td>bryan25contacto@gmail.com</td>
              </tr>
              <tr>
                <td>direccion</td>
                <td>Calle Yahuarwaca</td>
              </tr>
              <tr>
                <td>cargo</td>
                <td>caracter</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="intereses">
          <div class="titulo-min">intereses</div>
          <div class="card-interes">
            <div class="interes">
              <i class="fa-solid fa-headphones"></i>
              <span> musica</span>
            </div>
            <div class="interes">
              <i class="fa-solid fa-gamepad"></i>
              <span>juegos</span>
            </div>
            <div class="interes">
              <i class="fa-brands fa-windows"></i>
              <span>windows</span>
            </div>
            <div class="interes">
              <i class="fa-solid fa-futbol"></i>
              <span>futbol</span>
            </div>
            <div class="interes">
              <i class="fa-solid fa-headphones"></i>
              <span> musica</span>
            </div>
            <div class="interes">
              <i class="fa-solid fa-gamepad-modern"></i>
              <span>juegos</span>
            </div>
            <div class="interes">
              <i class="fa-brands fa-windows"></i>
              <span>windows</span>
            </div>
            <div class="interes">
              <i class="fa-solid fa-futbol"></i>
              <span>futbol</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <footer >
      <button class="boton-descargar">
        <span>Descargar CV </span>
        <i class="fa-sharp fa-solid fa-download"></i>
      </button>
    </footer>
  </div>

  <div class="videoF">
    <video autoplay loop [volume]=0 >
      <source src="../../assets/Minecraft.webm" type="video/webm">
    </video>
  </div>  
</section>
<!-- <section class="base" id="">
  <div class="superior contenido">
    <header>
      <h2>{{DatosEntrada.titulo}} || titulo</h2>
      <p>{{DatosEntrada.descripcion}} || descripcion</p>
    </header>
  
    <footer class="pie">
      <a href="">{{DatosEntrada.pie}}</a>
    </footer>
  </div>

  <div>
    <video autoplay loop [volume]=0 >
      <source src="../../assets/Minecraft.webm" type="video/webm">
    </video>
  </div>  
</section> -->
