/* TITULO Y DESCRIPCION */
.contendH2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  width: 90%;
}
.contendH2 .reziceCaja{
  width: 100%;
  margin-bottom: 15px;
}
.contendH2 .reziceCaja p{
  text-align: left;
}
.contendH2 .reziceCaja button{
  display: none;
}

/* CONTENEDOR DATOS PERSONALES */
.card-contend-flex .datos-personales{
  width: 40%;
  text-align: left;
}
.datos-personales table td{
  padding-top: 10px;
  padding-right: 20px;
}
.datos-personales table tr :first-child{
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}

/* CONTENEDOR INTERESES */
.card-contend-flex .intereses{
  width: 45%;
  height: 100%;
  text-align: left;
  overflow: hidden;
}
.intereses .card-interes{
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      80px,
      1fr
    )
  );
  gap: 10px;
}
.intereses .card-interes .interes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 90px;
  height: 90px;
  background-color: black;
  border-radius: 20px;
  border: solid white 3px;
  transition: .2s;
}
.intereses .card-interes .interes:hover{
  color: var(--color);
  border-color: var(--color);
  box-shadow: 1px 1px 15px var(--color);
}
.intereses .card-interes .interes i{
  font-size: 2rem;
  margin-bottom: 10px;
}
.intereses .card-interes .interes span{
  font-size: 0.75rem;
}

/* BOTON DESCARGAR */
footer{
  padding: 40px 0;
  bottom: 0;
}
.boton-descargar{
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  border: solid white 3px;
  background-color: black;
  transition: .5s;
}
.boton-descargar:hover{
  border-color: red;
}


@media(max-width:720px){
  .contendH2 .reziceCaja p{
    max-height: 109px;
    overflow: hidden;
  }
  .contendH2 .reziceCaja button{
    display: inline;
    border: 2px solid white;
    padding: 5px;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 50px;
  }

  .card-contend-flex{
    overflow-x: scroll;
  }
  .card-contend-flex .datos-personales{
    min-width: 100%;
    margin-right: 15%;
  }
  .datos-personales table{
    display: flex;
    flex-direction: column;
  }

  .card-contend-flex .intereses{
    min-width: 100%;
  }
  .intereses .card-interes{
    grid-template-columns: repeat(
      auto-fit,
      minmax(
        70px,
        1fr
      )
    );
    gap: 5px;
  }
  .intereses .card-interes .interes{
    width: 70px;
    height: 70px;
  }
  .intereses .card-interes .interes i{
    margin-bottom: 0;
  }
  .interes span{
    display: none;
  }
 
  footer{
    margin-bottom: 15px;
    padding: 20px 0;
  }
}