.proyectos{
  display: flex;
  list-style: none;
  gap: 10px;
  flex-wrap: wrap;
}
.proyectos-opcion{
  text-transform: uppercase;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.proyectos-opcion a{
  color: black;
  font-weight: bold;
}
