@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@angular/material/prebuilt-themes/indigo-pink.css';


* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color:white;
  overflow:hidden;
}

body {
  min-width:300px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: black;
}
