@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  @apply p-0 m-0 ;

}
ul,li,i,a,span,p{
  @apply bg-transparent ;
}
body{
  @apply bg-neutral-200 ;
}
aside{
  @apply bg-neutral-100 hover:bg-neutral-50 dark:bg-neutral-900 dark:hover:bg-neutral-800 transition-all duration-500
}
/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra */
}

/* Color del fondo del scroll */
::-webkit-scrollbar-track {
  background: inherit; /* Fondo del área de la barra de desplazamiento */
}

/* Color del 'thumb', la parte que se desplaza */
::-webkit-scrollbar-thumb {
  @apply bg-red-600 rounded-lg
}

/* Color al pasar el cursor */
::-webkit-scrollbar-thumb:hover {
  @apply bg-red-800
}
