@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-decoration: none;
  @apply bg-inherit p-0 m-0
}
ul,li,i,a,span,p{
  @apply bg-transparent ;
}
body{
  @apply bg-gray-100 dark:text-gray-400 text-gray-700;
}
aside{
  @apply bg-white hover:bg-gray-100 dark:bg-zinc-900 dark:hover:bg-zinc-800 transition-all duration-500
}
/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra */
}

/* Color del fondo del scroll */
::-webkit-scrollbar-track {
  background: inherit; /* Fondo del área de la barra de desplazamiento */
}

/* Color del 'thumb', la parte que se desplaza */
::-webkit-scrollbar-thumb {
  @apply bg-red-600 rounded-lg
}

/* Color al pasar el cursor */
::-webkit-scrollbar-thumb:hover {
  @apply bg-red-800
}
