<header class="menu" id="menu">
  <div class="menu-lado">
    <img class="menu-lado-logo" src="../../assets/logo.png" />
    <h1 class="menu-lado-text" #etiqueta>BYTER</h1>
  </div>
  <input type="checkbox" id="check" />
  <label for="check">
    <i class="fa-solid fa-bars menu-mostrar"></i>
  </label>
  <nav class="menu-centro">
    <label for="check" class="menu-esconder">
      <i class="fa-solid fa-xmark menu-mostrar"></i>
    </label>
    <ul>
      <li><a href="#inicio">Inicio</a></li>
      <li><a href="#sobre_mi">sobre mi</a></li>
      <li><a href="#skills">skills</a></li>
      <li><a href="#curriculum">certificados</a></li>
      <li><a href="#portfolio">proyectos</a></li>
      <li><a href="#contacto">contacto</a></li>
    </ul>
  </nav>

  <div class="backdrop" id="backdrop"></div>
</header>
