.contend-cert{
  display: flex;
  height: 80%;
  width: 100%;
}
.contend-cert button{
  width: 15%;
}
.slider{
  width: 70%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.slider-view{
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 490%;
  height: 100%;
  animation: slide .5s infinite alternate ease-in-out;
}
::-webkit-scrollbar{
  background-color: rgba(0, 0, 0, 0.308);
  height: 1rem;
  box-sizing: content-box;
}
::-webkit-scrollbar-thumb{
  background: red;
  border-radius: 20px;
}
.slider-view-list{
  scroll-snap-align: center;
  position: relative;
  list-style: none;
  width: 100%;
  height: 100%;
}
.slider-img{
  height: 100%;
}
.slider-img img{
  position: relative;
  height: 100%;
}
.slider-info{
  scroll-snap-type: mandatory;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.521);
  transition: .3s all;
}
/* .slider-info:hover{
  visibility: hidden;
} */
@media (max-width:720px) {
  h2{
    letter-spacing: 5px;
  }
  .contend-cert button{
    display: none;
  }
  .slider{
    width: 100%;
  }
  .slider-view{
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    gap: 10px;
  }
  .slider-img img{
    width: 100%;
  }
  .slider-info{
    display: none;
  }
}
